.TaskDropDownCard {
  padding: 0;

  .TaskDropDownCard__ddImg {
    img {
      width: 28px;
      height: 28px;
    }
  }

  .TaskDropDownCard__Row {
    padding: 20px;
    padding-left: 0;
    cursor: pointer;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    transition: 0.5s;

    &:hover {
      border-top: 1px solid #5965cb;
      border-bottom: 1px solid #5965cb;
    }

    .TaskDropDownCard__name {
      .TaskDropDownCard__nameImg {
        padding-right: 20px;
        margin-top: -2px;

        @media screen and(max-width: 576px) {
          padding-left: 20px;
        }
      }

      .TaskDropDownCard__nameTitle {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 145%;
        color: #ffffff;
        
        @media screen and(max-width: 576px) {
          font-size: 18px;
        }
      }
    }
  }

  .TaskDropDownCard__ddCont {
    position: relative;
    .TaskDropDownCard__dd {
      padding: 0;
      background-color: #333333;
      position: absolute;
      z-index: 10;
      margin-top: 10px;

      .TaskDropDownCard__caseItem {
        padding: 20px;
        cursor: pointer;

        &:hover {
          background-color: #2c2c2c;
        }

        .TaskDropDownCard__caseItemImg {
          padding-right: 20px;
          margin-top: -2px;
        }

        .TaskDropDownCard__caseItemTitle {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 145%;
          color: #ffffff;
        }
      }
    }
  }
}
